.dropdown {
    display: inline-block;
    position: relative;
    width: 416px;
    height: 70px;
    left: 40px;
    top: 440px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #8AB7E1;
    border-radius: 30px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #686d6d;
  }
  .buttonstyle2{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    width: 300px;
    height: 50px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 29px;
    text-align: center;
 }