.weatherstation {
    position: absolute;
    width: 513px;
    height: 77px;
    left: 311px;
    top: 34px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    color: #FFFFFF;
}
.weekly{
    position: absolute;
    width: 109px;
    height: 39px;
    left: 413px;
    top: 117px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    text-decoration-line: underline;


    color: #FFFFFF;
  }
.monthly{
    position: absolute;
    width: 123px;
    height: 39px;
    left: 598px;
    top: 118px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #FFFFFF;
}
.date{
    position: absolute;
    width: 261px;
    height: 34px;
    left: 1161px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.time{
    position: absolute;
    width: 261px;
    height: 34px;
    left: 1297px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.wifi{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1619px;
    top: 25px;

}
.weeklyrectangle{
    position: absolute; 
    width: 1008px; 
    height: 109.77px; 
                    
    background: #8AB7E1;
    box-shadow: 1px 1px 2px rgba(145, 192, 236, 0.3), -1px -1px 2px rgba(131, 174, 214, 0.5), inset -5px 5px 10px rgba(131, 174, 214, 0.2), inset 5px -5px 10px rgba(131, 174, 214, 0.2), inset -5px -5px 10px rgba(145, 192, 236, 0.9), inset 5px 5px 13px rgba(131, 174, 214, 0.9);
                    
    backdrop-filter: blur(5px);
    border-radius: 30px;
}
.weekday{
    position: absolute;
    width: 211px;
    height: 50px;
    left: 100px;
    top: 35px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.low{
    position: absolute;
    width: 188px;
    height: 50px;
    left: 471px;
    top: 35px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.high{
    position: absolute;
    width: 197px;
    height: 50px;
    left: 800px;
    top: 35px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.tempgradient{
    position: absolute;
    width: 150px;
    height: 10px;
    left: 620px;
    top: 45px;

    background: linear-gradient(90deg, #63D2EB 0%, #FFC700 100%);
    border-radius: 100px;
}
.statboxes{
    box-sizing: border-box;

    position: absolute;
    width: 475px;
    height: 75px;
    left: 1170px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.04) 100%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}
.statnames{
    position: absolute;
    width: 188.12px;
    height: 34.5px;
    left: 1234px;
    top: 758px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.sunweekday{
    box-sizing: border-box;

    position: absolute;
    width: 37.49px;
    height: 37.49px;
    left: 30px;
    top: 30px;

    background: linear-gradient(180deg, #FFE600 0%, #FF7A00 100%);
}
.cloudweekday{
    box-sizing: border-box;

    position: absolute;
    width: 54.65px;
    height: 36.97px;
    left: 35px;
    top: 50px;

    background: linear-gradient(180deg, #FFFFFF 3.01%, rgba(255, 255, 255, 0) 111.3%);
    box-shadow: -21px 15px 50px rgba(29, 38, 70, 0.25);
    backdrop-filter: blur(7px);
}
.weatherbox{
    box-sizing: border-box;

    position: absolute;
    width: 450px;
    height: 385px;
    left: 1183px;
    top: 120px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}