.settingsbox{
    position: absolute;
    width: 539px;
    height: 740px;
    left: 512px;
    top: 180px;

    background: #8AB7E1;
    box-shadow: 1px 1px 2px rgba(145, 192, 236, 0.3), -1px -1px 2px rgba(131, 174, 214, 0.5), inset -5px 5px 10px rgba(131, 174, 214, 0.2), inset 5px -5px 10px rgba(131, 174, 214, 0.2), inset -5px -5px 10px rgba(145, 192, 236, 0.9), inset 5px 5px 13px rgba(131, 174, 214, 0.9);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

border-radius: 30px;
}
.degreetext{
    position: absolute;
    width: 247px;
    height: 52px;
    left: 50px;
    top: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
}
