<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>
<div style="background: linear-gradient(180deg, #B1D0E7 0%, #FFFFFF 100%);">
    <center> <h1 style="font-family: 'Inter';font-style: normal;font-weight: bolder;font-size: 30px;line-height: 50px;color: #FFFFFF;"> Data Gathered by KOA</h1> </center>
    <center> <h1 style="font-family: 'Inter';font-style: normal;font-weight: bolder;font-size: 30px;line-height: 40px;color: #FFFFFF;"> Welcome Analyst (username placeholder)</h1> </center>
    <table style="width:100%">
        <tr>
            <th>Station(s)</th>
            <th>Date</th>
            <th>Data</th>
        </tr>
    </table>
</div>
</body>
</html>