<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='/static/KOP.css'>
        <link rel="stylesheet" href='/static/navbar.css'>
        <link rel="stylesheet" href='/static/dropdown.css'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <body>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <style>
                * {
                  box-sizing: border-box;
                }
            
                .column {
                  float: left;
                  width: 70%;
                  padding: 10px;
                  height: 1000px;
                }
                
                .column2 {
                  float: left;
                  width: 30%;
                  padding: 10px;
                  height: 1000px;
                }
                /* Clear floats after the columns */
                .row:after {
                  content: "";
                  display: table;
                  clear: both;
                }
                </style>
                </head>
                <body>
                
                <div class="row">
                  <div class="column" style="background: linear-gradient(180deg, #B1D0E7 0%, #FFFFFF 100%);">
                    <nav>
                      <div class="navbar" style="position: relative; z-index: 10000;">
                        <div class="container nav-container">
                            <input class="checkbox" type="checkbox" name="" id="" />
                            <div class="hamburger-lines">
                              <span class="line line1"></span>
                              <span class="line line2"></span>
                              <span class="line line3"></span>
                            </div>  
                          <div class="logo">
                            <h1>KOA</h1>
                          </div>
                          <div class="menu-items" style="background-color:#8AB7E1;">
                            <li><a href="/Dev">Developer Dashboard</a></li>
                            <li><a href="/Dev-Alerts">Alerts</a></li>
                            <li><a href="/TOS">Terms Of Service</a></li>
                            <li><a href="/Settings">Settings</a></li>
                          </div>
                        </div>
                      </div>
                    </nav>
                    <h2 class="weatherstation">Weather History</h2>
                    <a href="/Lewie" class="weekly">Weekly</a>
                    <p class="monthly" style="text-decoration-line: underline; font-weight: bold;">Monthly</p>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 500px; top: 200px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 620px; top: 200px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 740px; top: 200px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 860px; top: 200px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 980px; top: 200px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 150px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 270px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 390px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 510px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 630px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 750px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 870px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 990px; top: 320px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 150px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 270px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 390px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 510px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 630px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 750px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 870px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 990px; top: 440px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 150px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 270px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 390px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 510px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 630px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 750px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 870px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 990px; top: 560px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 150px; top: 680px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="monthlysquare" style="height: 100px; width: 100px; left: 270px; top: 680px;">
                    <div class="monthlysun"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="30px" width="20px" style="left: 30px; top: 35px;"></img>
                  </div>
                  <div class="column2" style="background-image: url(/static/backgroundmobile.jpg)">
                    <p class="Date"  id="myId" style="color:white;">   
                      <script> 
                        var date = new Date(); 
                        var dd = date.getDate(); 
                        var mm = date.getMonth() + 1; 
                        var yyyy = date.getFullYear(); 
                        var newDate = mm + "-" + dd + "-" +yyyy; 
                        var p = document.getElementById("myId"); 
                        p.innerHTML = newDate; 
                        </script>    
                    </p> 
                    <p class="time">Time<span id="time" style="color:white"></span>
                      <script>
                        setInterval(function() {
                          var currentTime = new Date();
                          var hours = currentTime.getHours();
                          var minutes = currentTime.getMinutes();
                          var seconds = currentTime.getSeconds();
                          var suffix = "AM";

                          if (seconds < 10)
                            seconds = "0" + seconds;

                          if (minutes < 10)
                            minutes = "0" + minutes;

                          if (hours >= 12) {
                            suffix = "PM";
                            hours = hours - 12;
                          }
                          if (hours == 0) {
                            hours = 12;
                          }

                          document.getElementById("time").innerHTML = "<b><div id='d1'>" + hours + ":" +
                          minutes + ":" + seconds + " " + suffix + "</div></b>";
                          }, 1000);
                        </script>
                    </p>
                    <div class="weatherbox">
                      <div class="bigsun"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="bigcloud"></img>
                      <p class="temp"></p>
                    <div class="dropdown" style="top: 390px; left: 25px;">
                      <button class="buttonstyle2">Lewie</button>
                      <div class="dropdown-content">
                        <a href="/Welcome">Dewi</a>
                        <a href="/Lewie">Lewie</a>
                        <a href="/Huwey">Huwey</a>
                      </div>
                    </div>
                    <div class="statboxes" style="top: 460px; width: 475px; left: -15px;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      <p class="statnames">Humidty</p>
                    </div>
                    <div class="statboxes" style="top: 560px; width: 475px; left: -15px;;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      <p class="statnames">Wind</p>
                    </div>
                    <div class="statboxes" style="top: 660px; width: 475px; left: -15px;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      <p class="statnames">Air Quality</p>
                    </div>
                    <div class="statboxes" style="top: 760px; width: 475px; left: -15px;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      <p class="statnames">Pressure</p>
                    </div>
                  </div>
                </div>
        </body>
    </head>
</html>