<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='/static/KOP.css'>
        <link rel="stylesheet" href='/static/navbar.css'>
        <link rel="stylesheet" href='/static/tutorial.css'>
        <link rel="stylesheet" href='/static/dropdown.css'>
        <script src="/static/tutorial.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <body>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <style>
                * {
                  box-sizing: border-box;
                }
            
                .column {
                  float: left;
                  width: 70%;
                  padding: 10px;
                  height: 1000px;
                }
                
                .column2 {
                  float: left;
                  width: 30%;
                  padding: 10px;
                  height: 1000px;
                }
                /* Clear floats after the columns */
                .row:after {
                  content: "";
                  display: table;
                  clear: both;
                }
                .container{
                  position: relative;
                }
                /* The switch - the box around the slider */

                .switch {   
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
                }


                /* Hide default HTML checkbox */

                .switch input {
                  display: none;
                }


                /* The slider */

                .slider {
                  position: absolute;
                  cursor: pointer;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: #ccc;
                  -webkit-transition: .4s;
                  transition: .4s;
                }

                .slider:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: .4s;
                  transition: .4s;
                }

                input:checked+.slider {
                  background-color: #2196F3;
                }

                input:focus+.slider {
                  box-shadow: 0 0 1px #2196F3;
                }

                input:checked+.slider:before {
                  -webkit-transform: translateX(26px);
                  -ms-transform: translateX(26px);
                  transform: translateX(26px);
                }


                  /* Rounded sliders */

                .slider.round {
                  border-radius: 34px;
                }

                .slider.round:before {
                  border-radius: 50%;
                }

                #C {
                  display:none;
                }
                </style>
                </head>
                <body>
                <div class="row">
                  <div class="column" style="background: linear-gradient(180deg, #B1D0E7 0%, #FFFFFF 100%);">
                    <nav>
                      <div class="navbar" style="position: relative; z-index: 5;">
                        <div class="container nav-container">
                            <input class="checkbox" type="checkbox" name="" id="" />
                            <div class="hamburger-lines">
                              <span class="line line1"></span>
                              <span class="line line2"></span>
                              <span class="line line3"></span>
                            </div>  
                          <div class="logo">
                            <h1>KOA</h1>
                          </div>
                          <div class="menu-items" style="background-color:#8AB7E1;">
                            <li><a class="active" href="/Welcome">Home</a></li>
                            <li><a href="/Dev">Developer Dashboard</a></li>
                            <li><a href="/Dev-Alerts">Alerts</a></li>
                            <li><a href="/TOS">Terms Of Service</a></li>
                          </div>
                        </div>
                      </div>
                    </nav>
                    <h2 class="weatherstation">Weather History</h2>
                    <p class="weekly" style="font-weight: bold;">Weekly</p>
                    <a href="/Monthly" class="monthly">Monthly</a>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    <form>
                    <label class="switch">
                    <input type="checkbox" id="toggle" checked="true" />
                    <div class="slider round"></div>
                    </label>
                    </form>
                    <script>
                      $(function() {
                        $("#toggle").click(function() {
                          if ($(this).is(":checked")) {
                            $("#F").show();
                            $("#C").hide();
                          } else {
                            $("#F").hide();
                            $("#C").show();
                          }
                        });
                      });
                    </script>
                    
                    <div style="position: absolute; top: 100px; left: 1050px;">
                     <div class="popup" id="popup-1">
                      <div class="overlay"></div>
                      <div class="content">
                        <div class="close-btn" onclick="togglePopup()">&times;</div>
                        <h2>KOA Weather Stations</h2>
                        <ol style="text-align: left;">
                          <li>Explore the navigation menu to change measurement units, view our terms of service, or <br>interact with the 
                          developer dashboard if authorized!</li>
                          <li>Change what weather station you are viewing at the dropdown menu on the right!</li>
                          <li>Take a look at the monthly view with past weather <br> data by clicking on the monthly tab!</li>
                          <li>Use the toggle switch on in the top left corner to <br> switch from Fahrenheit to Celsius!</li>
                        </ol>
                      </div>
                     </div> 

                     <button class="buttonstyle" onclick="togglePopup()">Tutorial</button>
                    </div>
                    <div id="F">
                    <div class="weeklyrectangle" style="left: 64px; top: 215px;">
                      <div class="sunweekday"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                      {% for item in MDewie %}
                      <p class="weekday">Monday</p>
                      <p class="weekdate">12/12</p>
                      <p class="low">Temp:</p>
                      <p class="low" style="left: 575px;"> {{ item.tempF }}   °F </p>
                      {% endfor %}
                    </div>
                    <div class="weeklyrectangle" style="left: 64px; top: 315px;">
                      <div class="sunweekday"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                      {% for item in TDewie %}
                      <p class="weekday">Tuesday</p>
                      <p class="weekdate">12/13</p>
                      <p class="low">Temp:</p>
                      <p class="low" style="left: 575px;"> {{ item.tempF }}  °F  </p>
                      {% endfor %}
                    </div>
                    <div class="weeklyrectangle" style="left: 64px; top: 415px;">
                      <div class="sunweekday"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                      {% for item in WDewie %}
                      <p class="weekday">Wednesday</p>
                      <p class="weekdate" style="left: 275px;">12/14</p>
                      <p class="low">Temp:</p>
                      <p class="low" style="left: 575px;"> {{ item.tempF }}   </p>
                      {% endfor %}
                    </div>
                    <div class="weeklyrectangle" style="left: 64px; top: 515px;">
                      <div class="sunweekday"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                      <p class="weekday">Thursday</p>
                      <p class="weekdate" style="left: 245px;">12/15</p>
                      {% for item in ThDewie %}
                      <p class="low">Temp:</p>
                      <p class="low" style="left: 575px;"> {{ item.tempF }}   °F </p>
                      {% endfor %}
                    </div>
                    <div class="weeklyrectangle" style="left: 64px; top: 615px;">
                      <div class="sunweekday"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                      <p class="weekday">Friday</p>
                      <p class="weekdate" style="left: 205px;">12/16</p>
                      {% for item in FDewie %}
                      <p class="low">Temp:</p>
                      <p class="low" style="left: 575px;"> {{ item.tempF }}   °F </p>
                      {% endfor %}
                    </div>
                    <div class="weeklyrectangle" style="left: 64px; top: 715px;">
                      <div class="sunweekday"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>                      
                      <p class="weekday">Saturday</p>
                      <p class="weekdate" style="left: 240px;">12/17</p>
                      {% for item in SDewie %}
                      <p class="low">Temp:</p>
                      <p class="low" style="left: 575px;"> {{ item.tempF }}  °F  </p>
                      {% endfor %}
                    </div>
                    <div class="weeklyrectangle" style="left: 64px; top: 815px;">
                      <div class="sunweekday"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                      <p class="weekday">Sunday</p>
                      <p class="weekdate" style="left: 220px;">12/18</p>
                      {% for item in SunDewie %}
                      <p class="low">Temp:{{item.tempF}} °F </p>
                      {% endfor %}  
                    </div>
                  </div>
                  </div>
                  
                    

                  <div class="column2" style="background-image: url(/static/backgroundmobile.jpg)">
                    <p class="Date"  id="myId" style="color:white;">   
                      <script> 
                        var date = new Date(); 
                        var dd = date.getDate(); 
                        var mm = date.getMonth() + 1; 
                        var yyyy = date.getFullYear(); 
                        var newDate = mm + "-" + dd + "-" +yyyy; 
                        var p = document.getElementById("myId"); 
                        p.innerHTML = newDate; 
                        </script>    
                    </p> 
                    <p class="time">Time<span id="time" style="color:white"></span>
                      <script>
                        setInterval(function() {
                          var currentTime = new Date();
                          var hours = currentTime.getHours();
                          var minutes = currentTime.getMinutes();
                          var seconds = currentTime.getSeconds();
                          var suffix = "AM";

                          if (seconds < 10)
                            seconds = "0" + seconds;

                          if (minutes < 10)
                            minutes = "0" + minutes;

                          if (hours >= 12) {
                            suffix = "PM";
                            hours = hours - 12;
                          }
                          if (hours == 0) {
                            hours = 12;
                          }

                          document.getElementById("time").innerHTML = "<b><div id='d1'>" + hours + ":" +
                          minutes + ":" + seconds + " " + suffix + "</div></b>";
                          }, 1000);
                        </script>
                    </p>
                    <div class="weatherbox">
                      <div class="bigsun"></div>
                      <img src="/static/cloud.png" alt="Cloud" class="bigcloud"></img>
                      {% for item in WDewie %}
                      <p class="temp">{{ item.tempF }}</p>
                      {% endfor %}
                    </div>
                    <div class="dropdown">
                      <button class="buttonstyle2">Dewie</button>
                      <div class="dropdown-content">
                        <a href="/Welcome">Dewie</a>
                        <a href="/Lewie">Lewie</a>
                        <a href="/Huwey">Huwey</a>
                      </div>
                    </div>
                    </div>
                    <div class="statboxes" style="top: 560px; width: 475px;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      {% for item in  WDewie %}
                      <p class="statnames">Humidty:</p>
                      <p class="statnames" style="left: 200px;">{{item.humidity}}</p>
                     {% endfor %}
                    </div>
                    <div class="statboxes" style="top: 660px; width: 475px;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      <p class="statnames">Wind: N/A</p>
                    </div>
                    <div class="statboxes" style="top: 760px; width: 475px;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      <p class="statnames">Air Quality:</p>
                      <p class="statnames" style="left: 240px;">N/A</p>
                    </div>
                    <div class="statboxes" style="top: 860px; width: 475px;">
                      <img src="/static/raindrop.png" alt="RainDrop" class="raindrop" height="35px" width="25px"></img>
                      {% for item in WDewie %}
                      <p class="statnames">Pressure:</p>
                      <p class="statnames" style="left: 195px;">{{item.pressure}}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div id="C">
                  <div class="weeklyrectangle" style="left: 64px; top: 215px;">
                    <div class="sunweekday"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                    {% for item in MDewie %}
                    <p class="weekday">Monday</p>
                    <p class="weekdate">12/12</p>
                    <p class="low">Temp:</p>
                    <p class="low" style="left: 575px;"> {{ item.tempC }}  °C </p>
                    {% endfor %}
                  </div>
                  <div class="weeklyrectangle" style="left: 64px; top: 315px;">
                    <div class="sunweekday"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                    {% for item in TDewie %}
                    <p class="weekday">Tuesday</p>
                    <p class="weekdate">12/13</p>
                    <p class="low">Temp:</p>
                    <p class="low" style="left: 575px;"> {{ item.tempC }}  °C </p>
                    {% endfor %}
                  </div>
                  <div class="weeklyrectangle" style="left: 64px; top: 415px;">
                    <div class="sunweekday"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                    {% for item in WDewie %}
                    <p class="weekday">Wednesday</p>
                    <p class="weekdate" style="left: 275px;">12/14</p>
                    <p class="low">Temp:</p>
                    <p class="low" style="left: 575px;"> {{ item.tempC }}  °C </p>
                    {% endfor %}
                  </div>
                  <div class="weeklyrectangle" style="left: 64px; top: 515px;">
                    <div class="sunweekday"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                    <p class="weekday">Thursday</p>
                    <p class="weekdate" style="left: 245px;">12/15</p>
                    {% for item in ThDewie %}
                    <p class="low">Temp:</p>
                    <p class="low" style="left: 575px;"> {{ item.tempC }} °C  </p>
                    {% endfor %}
                  </div>
                  <div class="weeklyrectangle" style="left: 64px; top: 615px;">
                    <div class="sunweekday"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                    <p class="weekday">Friday</p>
                    <p class="weekdate" style="left: 205px;">12/16</p>
                    {% for item in FDewie %}
                    <p class="low">Temp:</p>
                    <p class="low" style="left: 575px;"> {{ item.tempC }}  °C </p>
                    {% endfor %}
                  </div>
                  <div class="weeklyrectangle" style="left: 64px; top: 715px;">
                    <div class="sunweekday"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>                      
                    <p class="weekday">Saturday</p>
                    <p class="weekdate" style="left: 240px;">12/17</p>
                    {% for item in SDewie %}
                    <p class="low">Temp:</p>
                    <p class="low" style="left: 575px;"> {{ item.tempC }}  °C </p>
                    {% endfor %}
                  </div>
                  <div class="weeklyrectangle" style="left: 64px; top: 815px;">
                    <div class="sunweekday"></div>
                    <img src="/static/cloud.png" alt="Cloud" class="cloudweekday" height="40px" width="50px" style="left: 35px;"></img>
                    <p class="weekday">Sunday</p>
                    <p class="weekdate" style="left: 220px;">12/18</p>
                    {% for item in SunDewie %}
                    <p class="low">Temp:{{item.tempC}}°C </p>
                    {% endfor %}  
                  </div>
                </div>
                </div>
        </body>
    </head>
</html>